@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #333;
}

body {
    background-color: #fff;
}

a {
    display: block;
    text-decoration: none;
}

#wrap {
    width: 100%;
    height: 100vh;
}

#aside {
    width: 200px;
    height: calc(100% - 120px);
    float: left;
}
.logo {}
.logo a {}
.logo a img {
    margin: 30px 0;
}

.nav {}
.menu {
    margin: 0 10px;
}
.menu>li {}
.menu>li>a {
    width: 180px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #f1f1f1;
}
.menu>li>a:hover {
    background-color: #ff4646;
    color: #fff;
    font-weight: bold;
}

.sub {
    display: none;
}
.sub li {}
.sub li a {
    width: 180px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.sub li a:hover {
    background-color: #ffdada;
    font-weight: bold;
}

.spot {
    margin: 20px 5px;
}
.spot li {
    float: left;
}
.spot li a {
    float: left;
    width: 90px;
    height: 20px;
    text-align: center;
    line-height: 20px;
} 

.spot li a:first-child {
    border-right: 1px solid #eee;
    box-sizing: border-box;
}


#content {
    width: 400px;
    height: calc(100% - 120px);
    float: left;
}

.banner {
    width: 400px;
    height: 100px;
}

.banner a {
    width: 400px;
    height: 100px;
}

.banner .thum {
    width: 100px;
    height: 100px;
    float: left;
}
.banner .thum img {}

.banner .text {
    width: 200px;
    height: 100px;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.banner .text h3 {}
.banner .text p{}

.banner .arrow {
    width: 100px;
    height: 100px;
    float: left;

}
.banner .arrow img {}


.notice {
    width: 400px;
    height: calc(50% - 100px);
}
.notice p {
    width: 100px;
    height: 30px;
    background-color: #ff4646;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
}
.notice ul {
    background-color: #eee;
    padding: 10px;
    box-sizing: border-box;

}
.notice ul li {
    line-height: 2;
    border-bottom: 1px solid #c4c4c4;
}
.notice ul li:last-child {
    border-bottom: none;
}

.notice ul li a {}
.notice ul li a span {
    font-size: 12px;
    color: #c4c4c4;
    float: right;
}

.gallery {
    width: 400px;
    height: calc(50% - 100px);
}
.gallery>p {
    width: 100px;
    height: 30px;
    background-color: #ff4646;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 30px;
}
.gallery ul {
    background-color: #eee;
    padding: 20px;
    height: 150px;
}
.gallery ul li{
    float: left;
    width: 150px;
    margin-right: 10px;
}
.gallery ul li a {}
.gallery ul li a img {
    width: 100%;
}
.gallery ul li a p {
    text-align: center;
}



.link {
    width: 400px;
    height: 100px;
}
.link ul {}
.link ul li {
    float: left;
    width: 100px;
    text-align: center;
}
.link ul li a {}
.link ul li a img {}
.link ul li a p {}




#slide {
    width: calc(100% - 600px);
    height: calc(100% - 120px);
    float: left;
    overflow: hidden;
}

.slidebox {
    width: 3960px;
}
.slidebox a {
    float: left;
}
.slidebox a img {}


#footer {
    width: 100%;
    height: 120px;
    float: left;
    background-color: #333;
}

.flogo {
    width: 200px;
    height: 120px;
    float: left;
}
.flogo a {}
.flogo a img {
    padding-top: 40px;
}

.nav_f {
    width: calc(100% - 200px);
    height: 60px;
    float: left;
}
.nav_f ul {}
.nav_f ul li {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}
.nav_f ul li a {
    color: #c2c2c2;
}
.nav_f ul li a:hover {
    text-decoration: underline;
}


.copy {
    width: calc(100% - 200px);
    height: 60px;
    float: left;
    color: #c2c2c2;
    line-height: 60px;
}

/* pop */

.pop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.pop.active {
    display: block;
}

.pop_wrap {
    width: 400px;
    height: 300px;
    background-color: #fff;
    position: absolute;
    top: 30%;
    left: 40%;
    padding: 10px;
}

.pop_wrap .tit {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.pop_wrap .txt {
    text-align: center;
    margin-top: 10px;
}
.pop_wrap .btn {
    width: 100px;
    height: 30px;
    background-color: #ff4646;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}